@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes progression {
  0% {
    transform: scale(1);
    background: rgb(247, 177, 200);
  }
  50% {
    transform: scale(1.2);
    background: hsl(340, 81%, 63%);
  }
  100% {
    transform: scale(1);
    background: hsl(340, 81%, 83%);
  }
}

@keyframes loading {
  0% {
    background-position: -320px 0px;
  }
  50% {
    background-position: 320px 0px;
  }
  100% {
    background-position: -320px 0px;
  }
}

.circles {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: hsl(340, 81%, 83%);
}

.loader {
  width: 100%;
  height: 100svh;
  border-radius: 0%;
  animation: loading infinite 2s;
}

.circles:nth-child(1) {
  animation: progression 1000ms infinite 100ms;
}

.circles:nth-child(2) {
  animation: progression 1000ms infinite 200ms;
}

.circles:nth-child(3) {
  animation: progression 1000ms infinite 300ms;
}

.circles:nth-child(4) {
  animation: progression 1000ms infinite 400ms;
}

.circles:nth-child(5) {
  animation: progression 1000ms infinite 500ms;
}

.scrollbar-none {
    scrollbar-width: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
